/*--------------===Jai Shre Krishna===---------------*/

:root {
    --theme: blueviolet;
    --greenry:#14e70d;
    --grad1: linear-gradient( 45deg, #ff04bd, #0216fffa);
    --grad2: linear-gradient(to right, #0072ff, #6f00ff);
    --grad3: linear-gradient(to right, #ff04bd, #0216fffa);
    --dark: #161625;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    -youbkit-touch-callout: none;
    /* iOS Safari */
    -youbkit-user-select: none;
    /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Non-prefixed version,
                                currently supported by Chrome and Opera */
}

.col-md-5 {
    position: relative;
}

/* =====================================Prelaoder============================= */
.loaded #loader-wrapper {
    visibility: hidden;
}
div#spinnerDiv{
    position: fixed;
    background: var(--dark);
    width: 100%;
    height: 100vh;
    z-index: 99999;
    text-align: center;
    color: #fff;
}
#spinnerDiv h3{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
#spinnerDiv .loading-spinner{
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    margin: auto;
    width: 10rem;
    height: 10rem;
    display: inline-block;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius:50%;
    border-top-color:#fff;
    margin-bottom:10rem;
    animation: spin 1s infinite ease-in-out;
}
@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}
 
#spinnerDiv .loading-dots {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
}
.loading-dots > div{
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out both;
}
.loading-dots .bounce1{
    animation-delay: -0.30s;
}
.loading-dots .bounce2{
    animation-delay: -0.15s;
}

@keyframes bounce {
    0%,80%,100%{
        transform:scale(0);
    }
    40%{
        transform: scale(1);
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background:var(--dark);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* ===========================Header Section=========================== */

#header {
    background: url(../assets/aesh.jpg) no-repeat center center;
    background-attachment: fixed;
    min-height: 900px;
    background-size: cover;
    position: relative;
}

.navbar {
    padding: 0px 0px 2px 0px;
    margin: 0px!important;
    transition: all 0.5s;
}

.scrollUpNavbar {
    transform: translateY(-80px);
}

.navbar-toggler:focus {
    box-shadow: unset;
    border: none;
}

.container {
    margin: 0px auto;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    width: 35px;
}

.navbar-brand span {
    font-family: 'Lemon';
    border: 2px dotted var(--theme);
    padding: 1px;
    border-radius: 5px;
    background: #ffffff8a;
    color: var(--theme);
}

.menu3 {
    margin-bottom: 8px;
    margin-left: 53%;
    margin-top: 10px;
}

nav.navbar ul.navbar-nav li {
    padding: 0px 18px;
}

.navbar .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    text-decoration: underline;
    text-decoration-style: double;
    color: var(--theme);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--theme);
}

.hire2 {
    border-radius: 30px;
    border: none;
    color: white;
    padding: 5px 5px 5px 15px;
    background: var(--grad1);
    margin-top: 8px;
    outline: none;
}

.hire2 i {
    color: #3b3b3b;
    background: white;
    margin-left: 10px;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    transform: rotate(0);
}

.hire2:hover {
    background: var(--greenry);
    color: #fff;
}

.hire2:hover i {
    color: #fff;
    background: #3b3b3b;
    transform: rotate( 360deg);
    transition: 0.5s ease;
}

#header .text3 {
    margin-top: calc(75vh - 55%);
}

#header .text3 h3 {
    font: normal 23px lemon;
    margin-bottom: -8px;
    color: #313335;
    margin-right: 3px;
}

#header .text3 h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Bungee Shade';
    text-transform: uppercase;
    color: green;
    text-shadow: 0px 0px 10px greenyellow;
}

.typed-cursor {
    display: none;
}

#header .text3 .social-icon2 {
    margin-top: 20px;
    padding-right: 3px;
    padding-top: 6px;
}

.social-icon2 li {
    list-style-type: none;
    display: inline;
}

.social-icon2 li a i {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    margin-left: 10px;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 14px;
    transform: rotate(0);
}

.social-icon2 li a i:hover {
    transform: rotate( 360deg);
    transition: 0.5s ease;
}

#header .text3 .social-icon2 li .facebook i {
    padding: 10px 13px;
    color: #3b5999;
    border: 1px solid #3b5999;
}

#header .text3 .social-icon2 li .facebook i:hover {
    background: #3b5999;
    border: 1px solid #3b5999;
    color: #fff;
}

#header .text3 .social-icon2 li .instagram i {
    color: #ea4c89;
    border: 1px solid #ea4c89;
}

#header .text3 .social-icon2 li .instagram i:hover {
    background: #ea4c89;
    border: 1px solid #ea4c89;
    color: #fff;
}

#header .text3 .social-icon2 li .twitter i {
    color: #1769ff;
    border: 1px solid #1769ff;
}

#header .text3 .social-icon2 li .twitter i:hover {
    background: #1769ff;
    border: 1px solid #1769ff;
    color: white;
}

#header .text3 .social-icon2 li .linkedin i {
    color: #0077b5;
    border: 1px solid #0077b5;
}

#header .text3 .social-icon2 li .linkedin i:hover {
    background: #0077b5;
    border: 1px solid #0077b5;
    color: #fff;
}

#header .text3 .social-icon2 li .github i {
    color: var(--dark);
    border: 1px solid var(--dark);
}

#header .text3 .social-icon2 li .github i:hover {
    color: white;
    background: var(--dark);
    border: 1px solid var(--dark);
}

#header .mouse-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    height: 42px;
    width: 30px;
    margin: auto;
    z-index: 2;
    border-radius: 15px;
    border: 3px solid #000;
    background: var(--grad2);
    display: none;
}

#header .mouse-icon .wheel {
    display: block;
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 3px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: down;
    animation-name: down;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

@keyframes down {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 15px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@media only screen and (min-width:1200px) {
    #header .mouse-icon {
        display: block;
    }
}

/* =======End of Header========
==========Start of About========== */

#about3 .stat {
    background: var(--dark);
    min-height: 400px;
    color: #f3f3f3;
    padding-top: 50px;
    position: relative;
}

#about3 .stat:before {
    width: 3px;
    height: calc(100% - 90px);
    background-color: #f3f3f3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    content: "";
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#about3 .stat:after {
    width: calc(100% - 50px);
    height: 3px;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#about3 .stat .sub {
    padding: 20px 0px 70px 0px;
    text-align: center;
}

#about3 .stat .sub1 {
    padding: 70px 0px 50px 0px;
    text-align: center;
}

#about3 .stat h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}

#about3 .para {
    background: var(--grad1);
    min-height: 400px;
    color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
}
#about3 .para h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border-bottom: 4px double;
}
#about3 .para h2 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 18px;
}
#about3 .para .btn {
    border-radius: 30px;
    border: none;
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 0px 15px 0px 0px;
    background-color: #f3f3f3;
    margin-top: 20px;
}
#about3 .para .btn:hover{
    background-color: var(--greenry);
    color: white;
}
#about3 .para .btn i {
    color: #f3f3f3;
    background: var(--dark);
    margin-right: 14px;
    padding: 15px 20px;
    font-size: 11px;
    border-radius: 30px 0% 0% 30px;
}
span.counter{
    font-size: 2rem;
}
span.counter:after {
    content: "+";
    display: inline-block;
}

/*====================Start of Service=============== */

#service {
    text-align: center;
    margin: 10px auto;
}

section {
    padding: 110px 0px;
}

#service h5, .project-title h5, #resume h5, #testimonials h5, #contact h5 {
    text-transform: uppercase;
    font: 500 18px lemon;
    color: #818181;
    margin-right: 185px;
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#service h2, .project-area h2, #resume h2, #testimonials h2, #contact h2 {
    font-family: lemon;
    font-size: 30px;
    font-weight: 700;
    color: #3b3b3b;
    text-align: center;
}

#service .serve {
    margin: 35px auto 0;
}

#service .serve .services {
    width: 23%;
    padding: 30px 30px 10px 30px;
    margin: auto 10px;
    border-radius: 5%;
    position: relative;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    /* box-shadow: inset 8px 8px 8px #af2cf2ba, inset -8px -8px 8px #adb5bda8; */
    box-shadow: 3px 3px 8px #8a2be2b8;
}

#service .serve .services:hover {
    color: white;
}

#service .serve .services:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: var(--grad1);
    border-radius: 5%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    z-index: -1;
}

#service .serve .services:hover::before {
    cursor: pointer;
    content: '';
    height: 100%;
    padding: 30px 30px 10px 30px;
    border-radius: 5%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    z-index: -1;
}

#service .serve .services img {
    margin-bottom: 10px;
    width: 100%;
}
.services ul{
    text-align: left;
    list-style-type: none;
    padding: 0;
}
.services ul li:before {
    content: "\f058"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 10px;
    color:var(--greenry) ;
    font-weight: bold;
  }
/* ================================Start of Porfolio Section ===================*/

.project-area {
    background-color: whitesmoke;
}

.project-area .button-group {
    text-align: center;
    padding-bottom: 50px;
}

.project-area .button-group>button {
    background: transparent;
    color: #5f5f5f;
    border: 1px solid #5f5f5f;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    outline: none;
    margin: 5px;
    transition: .3s ease;
}

.project-area .button-group>button.active {
    color: white;
    background: blueviolet;
    border-color: blueviolet;
}

.our-project div.img {
    position: relative;
}

.our-project .img:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    background: #000000;
    opacity: 0.3;
    border-radius: 10px;
    transform: scaleY(0);
    visibility: hidden;
}

.our-project .img:hover::before {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.=5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
    visibility: visible;
}

.our-project .img .search i {
    color: #fff;
    padding: 18px;
    background: blueviolet;
    border-radius: 100%;
    text-align: center;
    border: 1px solid blueviolet;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.=5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.our-project .img .search {
    position: absolute;
    bottom: 48%;
    right: 40%;
    content: "";
    background: transparent;
    visibility: hidden;
    transform: rotate( 360deg) scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.=5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.our-project .img:hover .search {
    transform: rotate( 0deg) scale(1);
    visibility: visible;
}

.img-fluid {
    width: 100%;
}

#portfolio .project-links {
    display: inline-block;
    float: right;
}

#portfolio .project-links a {
    color: black;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 27px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    border: 2px solid #000000;
    font-size: 20px;
}

/* ==================Start of Resume=================== */

#resume .bios {
    margin-top: 80px;
    text-align: left;
}

.graduate {
    margin-bottom: 24px;
    padding-right: 5px;
}

.graduate i {
    width: 43px;
    height: 43px;
    color: #f3f3f3;
    background: var(--grad1);
    padding: 14px 13px;
    border-radius: 50%;
    margin-right: 15px;
}

.graduate:hover i {
    color: var(--theme);
    background: #f3f3f3;
}

.graduate h4 {
    font-weight: 500;
    font-size: 20px;
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.items i, .items2 i {
    color: var(--theme);
    margin-left: 17px;
    margin-right: 16px;
    margin-top: 2px;
    font-size: 10px;
    float: left;
    position: relative;
}

.items i:after, .items2 i:after {
    position: absolute;
    width: 1px;
    height: 26px;
    background-color: #3b3b3b;
    bottom: 10px;
    right: 5px;
    content: "";
}

.items:hover i {
    background: var(--theme);
    border-radius: 50%;
}

.items2:hover i {
    background: var(--theme);
    border-radius: 50%;
}

.items h6 span, .items2 h6 span {
    font-size: 14px;
    font-weight: 400;
    color: crimson;
    margin: 0px auto;
}

.items span, .items2 span {
    margin-left: 40px;
    font-size: 15px;
    font-weight: 400;
    color: var(--theme);
    margin-bottom: 10px;
}

.items p, .items2 p {
    margin-left: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #3b3b3b;
    margin-top: 7px;
    line-height: 23px;
}

.items2 i:after {
    position: absolute;
    width: 1px;
    background-color: #3b3b3b;
    bottom: 10px;
    right: 5px;
    content: "";
}

.items2.a i:after {
    height: 131px;
}

.items2.b i:after {
    height: 132px;
}

.items2.c i:after {
    height: 153px;
}

.items2.d i:after {
    height: 133px;
}

.items h6 {
    font-size: 14px;
    font-weight: 500;
    color: #3b3b3b;
}

.progress-lt:first-child {
    margin-top: 0;
}

.progress-lt {
    margin-top: 25px;
    position: relative;
}

.progress-lt h6 {
    display: inline-block;
    width: 47%;
    margin-right: 1.5%;
    color: #222;
    margin: 0;
    padding: 0 0 6px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.progress-lt span {
    position: absolute;
    top: 0;
    right: 1.5%;
    font-size: 12px;
}

.progress-lt .progress {
    margin-bottom: 0;
    height: 6px;
    border-radius: 50px;
}

.progress .progress-bar {
    width: 0%;
    transition: width 1.2s ease;
    background: -webkit-linear-gradient(to right, #0072ff, #6f00ff);
    background: var(--grad1);
}

/* ====================Start of Testimonials Section=================== */

#testimonials {
    background: var(--grad1);
    color: white;
}

#testimonials h5 {
    color: lightgray;
}

#testimonials h2 {
    color: white;
}

#testimonials .details {
    padding: 25px 25px;
    text-align: center;
    outline: none;
}

#testimonials .slider {
    margin-top: 40px;
}

#testimonials .slider img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#testimonials .round-div {
    width: 120px;
    height: 120px;
    position: relative;
    margin: auto;
    border-radius: 50%;
    padding: 0;
    margin-bottom: 20px;
}

#testimonials .round-div::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border: 2px dashed white;
    background: transparent;
    z-index: -1;
    border-radius: 50%;
}

#testimonials .details p {
    color: lightgray;
}

#testimonials .quote {
    padding: 30px 12px;
}

.owl-theme {
    padding: 0;
}

.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
    font-size: 52px;
}

.owl-theme .owl-nav [class*=owl-] {
    background: rgb(255, 255, 255);
    color: var(--theme);
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: var(--grad1);
    color: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f2f5f4;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 10px;
    display: block;
    background: transparent;
    transition: opacity .2s ease;
    border-radius: 50%;
    border: 1px solid;
}

/* ===================Start of Contact Section================== */

#contact {
    text-align: center;
    background: url(../assets/dev.ashish.jpg)center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 500px;
    color: #f3f3f3;
}

@media only screen and (min-width:768px) {
    #contact {
        background: url(../assets/bgashish.jpg)center center;
        background-attachment: fixed;
        background-size: cover;
    }
}

#contact::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #3d0ef98f;
}

#contact h5 {
    color: lightgray;
    text-align: left;
}

#contact h2 {
    color: #fff;
    margin-bottom: 40px;
}

#contact p {
    font-size: 15px;
    margin-bottom: 70px;
    font-weight: 400;
}

.conform input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #f3f3f3;
    background: none;
    color: #f3f3f3;
    padding: 10px;
}

.conform .parent {
    position: relative;
}

.conform .parent i {
    position: absolute;
    top: 15px;
    right: 20px;
    visibility: hidden;
}

.parent.success i.fa-check-circle {
    color: greenyellow;
    visibility: visible;
}

.parent small {
    display: none;
}

.parent.success small {
    display: none;
}

.parent.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.parent.error small {
    display: block;
}

.parent.success input, .parent.success textarea {
    border: 2px solid greenyellow;
}

.parent.error input, .parent.error textarea {
    border: 2px solid red;
}

.conform input::placeholder {
    color: #fff;
}

.conform textarea {
    border: none;
    border-bottom: 2px solid #f3f3f3;
    background: none;
    color: #f3f3f3;
    padding-left: 10px;
    overflow: auto;
    width: 100%;
    resize: vertical;
}

.conform textarea::placeholder {
    color: #fff;
}

.conform form input:focus, .conform textarea:focus {
    border: 2px solid #fff;
    outline: none;
}

#contact .conform .btn {
    border-radius: 30px;
    border: none;
    color: #3b3b3b;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 0px 15px 0px 0px;
    background-color: #f3f3f3;
    margin-top: 20px;
    outline: none;
}

#contact .conform .btn i {
    color: #f3f3f3;
    background: var(--grad1);
    margin-right: 14px;
    padding: 15px 20px;
    font-size: 11px;
    border-radius: 30px 0% 0% 30px;
}

/* ==============================Start of Footer Section=========================== */

.new_footer_area {
    background: #10051a;
    background: #080720;
}

.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_top a {
    color: lightgray;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: lightgray;
    font-weight: 600;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: lightgray;
    margin-bottom: 20px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 43px;
    color: #858da8;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e2e2eb;
    font-size: 24px;
    transition: all .3s linear;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url('../assets/footer/footer_bg.png') no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url('../assets/footer/volks.gif') no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: footergif 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url('../assets/footer/cyclist.gif') no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: footergif 30s linear infinite;
}

@keyframes footergif {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

.footer_bottom {
    color: lightgray;
}

#submitBtnDiv .responseMssg {
    color: white;
    background: var(--grad1);
    border-radius: 10px;
}

/* =================================================*****Meadia Queries*****============================================== */

@media screen and (min-width:1025px) {
    #header .text3 {
        margin-top: 352px;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        background: url(../assets/aesh.jpg) 35% no-repeat fixed;
        min-height: 300px;
        width: 100%;
        height: 75vh;
    }
    .navbar {
        padding: 0px;
    }
    .navbar-toggler {
        border-color: transparent;
        outline: none;
        padding: 0rem;
        margin: 0px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('../assets/navicon2.svg');
    }
    .navbar-brand {
        margin: 0px 1px 0px 0px!important;
        padding: 0px!important;
    }
    .menu3 {
        margin-left: 0px!important;
    }
    nav.navbar ul.navbar-nav li {
        padding: 0px 8px;
    }
    .nav-link {
        padding: 0.5rem .5rem;
    }
    .hire2 {
        padding: 3px 3px 3px 10px;
        margin-top: 10px;
        font-size: 10px;
        margin-bottom: 3px;
    }
    .hire2 i {
        margin-left: 10px;
        padding: 5px;
        font-size: 10px;
    }
    #header .text3 .social-icon2 {
        margin-top: 0px;
        padding-right: 0px;
    }
    #about3 {
        margin-top: 0px;
    }
    #about3 .stat {
        padding-top: 0px;
    }
    #about3 .stat .sub, #about3 .stat .sub1 {
        padding: 20px;
    }
    #about3 .stat:before, #about3 .stat:after {
        visibility: hidden;
    }
    .items h6, .items2 h6 {
        font-size: 12px;
        margin-left: 40px;
    }
    .items h6 span, .items2 h6 span {
        font-size: 10px;
    }
    .items2.a i:after, .items2.b i:after, .items2.d i:after {
        height: 150px;
    }
    .items2.c i:after {
        height: 173px;
    }
    .items span, .items2 span {
        margin-left: 40px;
        font-size: 12px;
    }
    .items p, .items2 p {
        margin-left: 40px;
        font-size: 12px;
    }
    #service .services {
        margin: 10px auto! important;
        width: 100%! important;
    }
}

/* =========Tablets======== */

@media only screen and (min-width: 767px) and (max-width:1024px) {
    #header {
        background: url(../assets/aesh.jpg) 35%/cover no-repeat fixed;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('../assets/navicon2.svg');
    }
    #portfolio .element-item {
        width: 50%;
    }
    #service .services {
        width: 47%!important;
        margin: 10px!important;
    }
    #header .menu3 {
        margin-left: 30%!important;
    }
    .items2.a i:after {
        height: 191px;
    }
    .items2.b i:after {
        height: 196px;
    }
    .items2.c i:after {
        height: 218px;
    }
    .items2.d i:after {
        height: 176px;
    }
    #spinnerDiv h3{
        top:33%;
    }
}